@import '_variables.scss';

.profile-main {
    height: 720px;
    
    width: 100%;
}
.row-profile {
    
}
.profile-box {
    margin:auto;
    
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    padding:20px; 
}
.img-wrapper {
    height:200px;
    width: 200px;
    border-radius:200px;
    overflow: hidden;
    & > img {
        height: 200px;
        margin-left:5px; 
    }
}

@for $i from 1 to 11 {
    .level-bar-#{$i} {
        height:5px;
        background:$gray-300;
        animation: 3s slidein;
        width: $i * 10%;
        display:none;
    }
}
@keyframes slidein {
    from { width: 0; }
}

.bar-wrapper {
    border:2px solid $black;
    background:$gray-900;

}

.aos-animate .level-bar {
    display:block;
}
.container-skill-bar {
    margin-top:50px;
}
.item-bar {
    font-size:20px;
    margin-bottom: 10px;
}
.profile-title {
    font-family: 'Six Caps', sans-serif;
    font-size:100px;
}
.text-about-me {
    font-family: B612, sans-serif;
    font-size:18px;
}
.level-bar {
    position: relative;
    & > span {
        
        position: absolute;
        right: 0px;
        animation: 3s fadeindelay;
        
    }
}
@keyframes fadeindelay {
    
    0% {opacity: 0}
    50% {opacity: 0}
    100% { opacity: 1;}
}