.hexagone {
    position : relative;
    width: 215px;
    visibility: hidden;
    overflow : hidden;
    -webkit-filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.6));
    filter : drop-shadow(5px 5px 5px rgba(0,0,0,0.6));
  }
  .hexagone::after {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing : content-box;
    content: "";
    display: block;
    margin-top: 28.86751%;
    padding-bottom: 86.602%;
  }
  .hexagone .hexagonemain{
    display: block;
    position: absolute;
    width: 100%;
    padding-bottom: 115.47005%;
    overflow: hidden;
    visibility: hidden;
    -webkit-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
    -ms-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
    transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
    z-index: 1;
  }
  .hexagone .hexagonemain:before{
    content: "";
    display: block;
    position: absolute;
    visibility: visible;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background : url("../../../img/photocv.png");
    background-position: center ;
    background-size:180px 250px ;
    -webkit-transform : skewY(-30deg) rotate3d(0, 0, 1, 60deg);
    -ms-transform : skewY(-30deg) rotate3d(0, 0, 1, 60deg);
    transform : skewY(-30deg) rotate3d(0, 0, 1, 60deg);
  }
  