.presentation {
    height: 100vh; 
    margin-top : -61px;
    padding-top: 61px;
}
#scene-canvas {
    display: block;
    margin: 20px auto 0;
    position: relative;
}
.presentation .container {
    max-width: 680px!important;
    margin-top:20px;
}
.title-item {
    padding-right: 0!important;
    padding-left: 0!important;
}


