.presentation {
    height: 100vh;
    background: rgb(2,0,36); 
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 0%, rgba(168,194,215,1) 50%, rgba(0,0,0,1) 100%, rgba(0,212,255,1) 100%); 
    margin-top : -61px;
    padding-top: 61px;
}
#scene-canvas {
    display: block;
    margin: 20px auto 0;
    position: relative;
}
.container-titles {
    margin: auto;
    width:500px;
    font-size: 20px;
}
a:hover {
    border:1px solid black;
    transition: 2s;
    animation: fadein 2s;
}