footer {
    padding: .5rem 2rem;
}
.modal-header {
    justify-content: center!important;
}
.contact-infos {
    border-right:1px solid white;
}
.contact-infos > ul {
    padding-inline-start: 0!important;
}
.copyright {
    
  transform: translateY(30%); /* tiré de la moitié de sa propre hauteur */
}